*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 700px;
    height: 600px;
    background: silver;
    display: flex;
    flex-wrap: wrap;
}

.box_A{
    width: 100%;
    height: 30%;
    background: gold;
}

.box_B{
    width: 60%;
    height: 70%;
    background: #8c8c61;
}

.box_C{
    width: 40%;
    height: 70%;
    background: rgba(109, 118, 239, 0.88);
}